.body {
    background-color: $secondary-color;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-items: center;
}

.main {
    @extend .flex-default-column !optional;
    height: 100dvh;
}

.grid-center {
    display: grid;
    place-items: center;
}

.grid-center-1 {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
}

.grid-center-2 {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}

.flex-default-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.base-color {
    color: $secondary-color;
    background-color: $primary-color;
}

.invert-base-color {
    color: $primary-color;
    background-color: $secondary-color;
}

.main {
    display: flex;
    padding: 30px;

    overflow: hidden;

    width: 100%;
    
    place-items: center !important;

    >* {
        display: flex;
        width: 100%;
    }

    
}

.hidden-container {
    overflow-y: auto;
}

.overflow-y {
    height: auto;
    overflow-y: auto;
    /* Estilos para el scrollbar */

    .column-3 {
        * {

            overflow: hidden;
        }
    }

    &::-webkit-scrollbar {
        width: 8px;
        /* Ancho del scrollbar */

        background-color: #f5f5f5;
        /* Color de fondo del scrollbar */
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        /* Color del thumb (barra deslizadora) del scrollbar */
        border-radius: 4px;
        /* Radio de borde del thumb */
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #999;
        /* Color del thumb en el estado de hover */
    }

    &::-webkit-scrollbar-track {

        background-color: #f5f5f5;
        /* Color de la pista del scrollbar */
        border-radius: 4px;
        /* Radio de borde de la pista */
    }

    &::-webkit-scrollbar-track:hover {
        background-color: #eee;
        /* Color de la pista en el estado de hover */
    }


}

.no-overflow {
    overflow: hidden;

    * {

        overflow: hidden;
    }
}