body {
    background-color: $secondary-color;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-items: center;
}

.main {
    @extend .flex-default-column !optional;
    height: 100dvh;
}

.grid-center {
    display: grid;
    place-items: center;
}
.grid-center-1 {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
}
.grid-center-2 {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}

.flex-default-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.base-color {
    color: $secondary-color;
    background-color: $primary-color;
}

.invert-base-color {
    color: $primary-color;
    background-color: $secondary-color;
}

.main {
    display: flex;
    flex-grow: 1;
    padding: 50px;
    gap: 30px;
    overflow: hidden !important;
    height: calc(100dvh - 150px);
    width: 90%;
    place-items: center !important;
    div {
        width: 100%;
        &:first-of-type {
            flex-grow: 8;
            overflow-y: auto;
        }
    }
}

.hidden-container {
    overflow-y: auto;
}
