body {
    background-color: $secondary-color;
}

.main {
    @extend .flex-default-column !optional;
    height: 100dvh;
}

.grid-center {
    display: grid;
    place-items: center;
}
.grid-center-1 {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
}
.grid-center-2 {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}

.flex-default-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.base-color {
    color: $secondary-color;
    background-color: $primary-color;
}

.invert-base-color {
    color: $primary-color;
    background-color: $secondary-color;
}
