.navbar {

    &,
    * {
        flex-grow: 1;
    }

    display: flex;
    flex-flow: row nowrap;

    background-color: $tertiary-color;
    color: $secondary-color;

    width: 100%;

    user-select: none;

    h3 {
        font-size: 14px;

    }
    > *{
        &:hover{
            
            
            h3, img {

                transform: scale(0.9);
    
    
            }
        }
    }
    a {
        display: grid;
        
        &,
        * {
            height: clamp(45px, 45px, 45px);
        }
        img {
            max-width: 45px;
            max-height: 45px;
            padding: 5px;
            object-fit: contain;
        }
        >* {
            
            padding: 0 10px;
            gap: 5px;
            align-items: center;
            h3 {
                grid-column: 2;
                max-width: 140px;
            }

            
        }
        flex-shrink: 1;
        &:first-of-type {
            flex-grow: 20;
            max-width: 350px;
            >.one-col {
                grid-template-columns: 1fr;

                h3 {
                    grid-column: 1;
                }
            }
        }

    }

    * {
        @extend .grid-center;
        height: 100%;
    }


    a {
        box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.329);

        * {
            transition: all 0.3s ease;
        }

    }
}