.main-container {
    @extend .flex-default-column, .invert-base-color;
    flex-grow: 1;
    width: 100dvw;

    overflow-y: auto;

    input {
        color: $primary-color;
        background-color: $secondary-color;
    }
}

.self-start {
    align-self: self-start;
    justify-self: self-start;
}

.self-center {
    align-self: center !important;
    justify-self: center !important;

}

.disabled {
    //@extend .show-borders;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: grayscale(90%);
    cursor: not-allowed;
    width: 100%;
    height: 100%;

    z-index: 1;
}

.grid-2-col {
    @extend .grid-center;
    grid-template-columns: 1fr 1fr;
}

.relative-container {
    position: relative;
}

.show-borders {
    border: solid black 1px;
}

.column-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column-3 {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        grid-column: span 3;
    }
}

.checkbox-item {
    font-size: 3px !important;
}

.absolute {
    position: absolute;
}

.navigation-arrows {
    position: relative;

    color: $primary-color;
    font-size: 1.8rem;
    flex-grow: 1;
    z-index: 3;

    >* {
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            transition: all 0.3s ease-in-out;
            animation: infinite bounceX 1s ease-in-out,
                infinite blink 1s ease-in-out;
        }
    }
}

.navigation-arrow-left {
    @extend .navigation-arrows;
    align-self: flex-start;
    align-items: center;
    flex-grow: 1;
    z-index: 5;
}

.navigation-arrow-right {
    @extend .navigation-arrows;
    align-self: flex-end;
    align-items: center;
    flex-grow: 1;
}

#right,
#left {
    position: absolute;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.arrow {
    position: relative;

    * {
        user-select: none;
    }
}

.expand-2 {
    grid-column: span 2;
}

.nav-arrows {
    width: 100%;

    text-indent: 30px;
    display: flex;
    justify-content: space-between;

    .navigation-arrow-left {
        text-align: left;

        * {
            width: auto;
        }
    }

    .navigation-arrow-right {
        text-align: right;

        * {
            width: auto;
        }
    }
}

.main-info-container {
    overflow: hidden;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.226),
        -3px -3px 3px 1px rgba(207, 207, 207, 0.137);
    border-radius: 30px;
    padding: 30px;
}

.align-start {
    align-items: start;
}

.border-dashed {
    overflow: hidden !important;
    width: 100%;
    

    display: grid;
    place-items: center;
    border: 4px dashed $primary-color;
    grid-column: span 3;
    border-radius: 30px;
    transition: all ease-in-out 0.3s;

    &:hover {
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        transform: scale(0.98);

        svg {
            transform: scale(1.1);

        }
    }

    svg {
        &:hover {
            filter: brightness(2);
        }
    }

}


.grid-3-rows {
    display: grid;
    place-items: center;
    grid-template-rows: 1.05fr 1.05fr 10fr;
    gap: 30px;

    .add-module {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        grid-row: 3;

    }

    .border-dashed {
        overflow: hidden !important;
        width: clamp(300px, 300px, 300px);
        height: clamp(300px, 300px, 300px);

        display: grid;
        place-items: center;
        border: 4px dashed $primary-color;
        border-radius: 30px;
        transition: all ease-in-out 0.3s;

        &:hover {
            cursor: pointer;
            transition: all ease-in-out 0.3s;
            transform: scale(0.98);

            svg {
                transform: scale(1.1);

            }
        }

        svg {
            &:hover {
                filter: brightness(2);
            }
        }

    }
}

.expand-3 {
    grid-column: span 3;
}

.expand-4 {
    grid-column: span 4;
}

.grid-flow-column{
    grid-auto-flow: column;
}