.header {
    position: static;
    > * {
        @extend .base-color;
        *{
            height: 100%;
            @extend .grid-center;
        }
        
    }
    height: 175px;
    width: 100%;
    background-color: $secondary-color;
    color: $primary-color;
    display: grid;
    

    .header-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .titles{
            grid-column: 2;
        }
    }
}
