.icon-hover {
    &:hover{
        filter: brightness(0.5);
    }
}

.icon-button {
    transition: all ease-in-out 0.25s;
    &:hover{
        transform: scale(1.1);
    }
}

.icon{
    width: 30px;
    height: 30px;
}

.icon-logout{
    color: white;
    height: 100%;
}