.subtitle {
    font-size: 1.5rem;
    font-weight: bold;
}

h1 {
    font-size: 2rem;
    font-weight: bolder;
}
h2 {
    font-size: 1.5rem;
    font-weight: bolder;
}
h3 {
    font-size: 1.2rem !important;
    font-weight: bolder !important;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
}

.blue {
    color: $primary-color;
}

.text-start{
    text-align: justify;
}

.drop-title {

    .blue {
        min-width: 238px;
    }
}

.sub-text{
    font-size: 13px;
}